// ------------------------
//  INFORMATION
// ------------------------
// Important: Do not change these core files. Any changes should be
//            added to a theme file. Example '/themes/txt.scss'
//
// Description: This button Group component is used to create a grouping of buttons where only one can be selected at any given time.
//
// ------------------------
//  EXAMPLES
// ------------------------
//
//    <div class="toggleBtnGroup">
//        <div class="toggleButton__button">
//            <input class="toggleButton__radio" type="radio" name="toggle" id="toggle">
//            <label class="toggleButton__label" for="toggle">Your Total Value</label>
//        </div>
//    </div>
//
// http://ux.allstate.com/ux/Allstate-Style-Guide/#/components/button-group
//
//
// ------------------------
//  APPENDIX
// ------------------------
//
//

.toggle,
.toggle--dusty {
    display: inline-block;
    font-size: 0;

}

.toggle > *,
.toggle--dusty > * {
    font-size:  0.875rem;
    display: inline-block;
    min-height: 0.25rem;
    margin: 0;
}

.toggle * + * {
    border-left: 1px solid $gray-2;
}

.toggle--dusty * + * {
    border-left: 1px solid $gray-3;
}

.toggle__button:first-child > .toggle__label,
.toggle__button--dusty:first-child > .toggle__label--dusty {
    border-left: 1px solid $gray-2;
}

.toggle__button--dusty:first-child > .toggle__label--dusty {
    border-left: 1px solid $gray-3;
}

.toggle__button:last-child > .toggle__label,
.toggle__button--dusty:last-child > .toggle__label--dusty {
    border-right: 1px solid $gray-2;
}

.toggle__button--dusty:last-child > .toggle__label--dusty {
    border-right: 1px solid $gray-3;
}

.toggle__label,
.toggle__label--dusty {
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    border: 0;
    margin: 0;
    cursor: pointer;
    overflow: visible;
    padding: 0.5625rem 1.25rem;
    border-top: 1px solid $gray-3;
    border-bottom: 1px solid $gray-3;
    background-color: $white;
    color: $gray-6;

    &:hover,
    &:active,
    &:focus {
        background-color: $gray-4;
        color: $white;
    }
}

.toggle__label--dusty {
    border-top: 1px solid $gray-3;
    border-bottom: 1px solid $gray-3;
    background-color: $gray-2;
    color: $gray-6;

    &:hover,
    &:active,
    &:focus {
        background-color: $gray-4;
        color: $white;
    }
}

.toggle__radio,
.toggle__radio--dusty {
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
}

.toggle__radio:focus + .toggle__label {
    background-color: $gray-4;
    color: $white;
}

.toggle__radio--dusty:focus + .toggle__label--dusty {
    background-color: $white;
    color: $gray-5;
}

.toggle__label:hover:before {
    background-color: $gray-4;
    color: $white;
}

.toggle__label--dusty:hover:before {
    background-color: $white;
    color: $gray-5;
}

.toggle__radio:checked + .toggle__label {
    background-color: $gray-4;
    color: $white;
}

.toggle__radio--dusty:checked + .toggle__label--dusty {
    background-color: $white;
    color: $gray-5;
}

.toggle__radio:checked:hover + .toggle__label {
    background-color: $gray-4;
    color: $white;
}

.toggle__radio--dusty:checked:hover + .toggle__label--dusty {
    background-color: $white;
    color: $gray-5;
}
