// // ------------------------------------
// // Header
// // -----------------------------------

.responsive__header {
    //@include radial-gradient($blue-8,$blue-9);
    background-color: $dark-blue;
    height: 80px;
}

.responsive__header--divider {
    border-right: 1px solid $blue-3;
}

.hamburger__container {
    border: none;
    left: 10px;
}



@media only screen and (max-width: $breakpoint-medium) {
    .responsive__header {

        height: 50px;
    }
  
    
}