// // ------------------------------------
// // Header
// // -----------------------------------

.responsive__header {
    background: $dark-blue;
}

.responsive__header--divider {
    border-right: 1px solid $blue-3;
}

.hamburger__container {
    border: none;
}
