.hr--brand{
    background-color: $blue-1;
    height: 3px;
}


.hr--white{
    background-color: $white;

}


.hr--brand--2{
    background-color: $blue-2; 
    height: 3px;
}

.hr--brand--3 {
 background-color: $blue-3;
 height: 3px;
}

.hr--brand--4{
 background-color: $blue-4;
 height: 3px;
}

.hr--brand--5{
 background-color: $blue-5;
     height: 3px;
}

.hr--brand--6{
 background-color: $blue-6;
     height: 3px;
}

.hr--violet-1{
    background-color: $violet-1;
        height: 3px;
   }


.hr--violet-2{
    background-color: $violet-1;
        height: 3px;
   }
