// ------------------------
//  INFORMATION
// ------------------------
// Important: Do not change these core files. Any changes should be
//            added to a theme file. Example '/themes/_card.scss'
//
// Description: Cards are blocks of grouped content (usually repeatable and contained within a grid or block)
//              that contains a card header (card--header), card body (card--bd) and a card footer (card--ft).
//              In the example below, the card is contained inside of a block layout to illustrate the size it can take.
//
//
// ------------------------
//  EXAMPLES
// ------------------------
//
//    <div class="card card--framed">
//      <div class="card__header">
//        Card Header
//      </div>
//      <div class="card__body">
//        Card content...
//      </div>
//      <div class="card__footer">
//        <a href="">Learn More</a>
//      </div>
//    </div>
//
//    http://ux.allstate.com/ux/Allstate-Style-Guide/#/components/cards
//
// ------------------------
//  APPENDIX
// ------------------------
//
//
//

$borderFrameColor: #ddd;

.card {
  @include border-radius(3px);
}

.card--flat {
  @include border-radius(3px);
}

.card--shadow {
  @include dropShadow(0 0 5px rgba(0,0,0,0.25));
}

.card--framed {
  border: 2px solid $borderFrameColor;
}

.card__body {
  padding: 1rem;
}