// // ------------------------------------
// // Header
// // -----------------------------------

.responsive__header {
    width: 100%;
    color: #fff;
    background: $gray-5;
    padding: 0 1.25rem;
    top: 0;
    left: 0;
}

.header__divider {
    border-right: 1px solid $white;
    height: 3rem;
}

.header__sticky {
    position: fixed;
}

.header__logo {
	background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    display: inline-block;
    background-image: url('../images/header_logo.png');
    width: 3.75rem;
    height: 3.75rem;
}

.hamburger__container {
    padding:  1.813rem 0.25rem 0.25rem;
    width: 46px;
    @include borderBox;
    position: relative;
    background: transparent;
    border: 1px solid $gray-5;
    color: $white;
    font-size: 0.6875rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    outline: none;
}

// navicon
.hamburger__navicon,
.hamburger__navicon:before,
.hamburger__navicon:after {
    content: "";
    display: block;
    position: absolute;
    width: 26px;
    height: 3px;
    background-color: $white;
    @include border-radius(2px);
    @include transition(all, 0.2s, ease-in-out);
}

.hamburger__navicon {
    top: 13px;
    left: 9px;
}

.hamburger__navicon:before {
    top: -7px;
    left: 0;
}

.hamburger__navicon:after {
    top: 7px;
    left: 0;
}

// Active navicon states
/*.hamburger__navicon--isActive {
    background-color: transparent;
}*/

.hamburger__navicon--isActive:before {
    top: 0;
    margin-top: 1px;
    @include transform(rotate(45deg));
    -webkit-transform-origin: left left;
    transform-origin: left left;
}

.hamburger__navicon--isActive:after {
    top: 0;
    margin-top: 1px;
     @include transform(rotate(-45deg));
    -webkit-transform-origin: left left;
    transform-origin: left left;
}

.mobileUtil {
    display: none;
}

@media (min-width: $breakpoint-large) {
    .mobileUtil {
        display: none;
    }
}
